extends _shared.pug

block template-nav-header
  if attachedTo && attachedTo.length !== 0
    .attachedTo
      each parent, idx in attachedTo || []
        a(href=parent.path) #{parent.title}

block template-body
  .post.w3-mobile
    .title #{title}
    if date !== undefined
      div Posted #{date.getUTCFullYear()}-#{date.getUTCMonth()+1}-#{date.getUTCDate()}.
    block teaser
    if attachments && attachments.length
      .attachments
        each att in attachments
          a(href=att.path)
            span #{att.title}
    block contents

    if tags.length !== 0
      div.tagList
        each tag, idx in tags
          a(href=tagGet(tag).path) #{tagGet(tag).rootPath}

