extends _shared.pug

block template-body
  .post.w3-mobile
    if attachedTo && attachedTo.length !== 0
      .attachedTo
        each parent, idx in attachedTo || []
          a(href=parent.path) #{parent.title}

    .title
      span #{title}
      - var dates = []
      if mdate !== undefined
        - dates.push("Updated " + mdate.getUTCFullYear() + "-" + (mdate.getUTCMonth()+1) + "-" + mdate.getUTCDate())
      if date !== undefined
        - dates.push("Posted " + date.getUTCFullYear() + "-" + (date.getUTCMonth()+1) + "-" + date.getUTCDate())
      - if (dates.length === 2) dates[1] = dates[1].toLowerCase()
      if dates.length
        .date= dates.join(', ')
    block teaser
    if attachments && attachments.length
      .attachments
        each att in attachments
          a(href=att.path)
            span #{att.title}
    block contents
      p
        :escape <No contents specified>

    if tags.length !== 0
      div.tagList
        each tag, idx in tags
          a(href=tagGet(tag).path) #{tagGet(tag).rootPath}

