extends default.pug

block template
  - var pathTagsRoot = (path === 'index.html' ? 'tags/' : '../')

  each part, idx in tagsParents[tag] || []
    if idx === 0
      span Parents: &nbsp;
    else
      span ,
    a(href= pathTagsRoot + part + '/index.html') #{part}
  h1
    a(href= pathTagsRoot + tag + '/index.html') #{tagsRootPath[tag]}
  if tagsChildren[tag] !== undefined
    div
      h2 Children
      each child in tagsChildren[tag]
        div
          a(href= pathTagsRoot + child + '/index.html') #{child}
  h2 Posts
  div
    each post in tags[tag]
      div
        a(href= pathTagsRoot + '../' + post.path) #{post.title}

        div #{post.teaser}
