extends default.pug

block nav-header
  each part, idx in tagGet(tag).parents
    if idx === 0
      span Parents: &nbsp;
    else
      span &nbsp;
    a(href= tagGet(part).path) #{part}

block template
  div
    each child, idx in tagGet(tag).children
      if idx == 0
        div Child Tags:&nbsp;
      else
        span &nbsp;
      a(href= '/tags/' + child) #{child}
  h2 Posts
  div.postlist
    each post in tagGet(tag).posts
      div
        span.title
          a(href= post.path) #{post.title}
        span.tags
          each ptag, pidx in post.tags
            a(href=tagGet(ptag).path) #{tagGet(ptag).rootPath}

        div #{post.teaser}
