extends _shared.pug

block template-body
  .post
    - var tp = tagGet(tag).parents

    if tp && tp.length !== 0
      .parentTags
        each parent in tp
          a(href=tagGet(parent).path) #{parent}

    .title #{path === '/' ? title : title ? title + ' (' + tagGet(tag).rootPath + ')' : tagGet(tag).rootPath}

    //Not standard, but the root tag may have attachments as it is also a folder
    if attachments && attachments.length
      .attachments
        each att in attachments
          a(href=att.path)
            span #{att.title}

    - var childTags = tagGet(tag).children
    if childTags && childTags.length !== 0
      .childTags
        each child in childTags
          a(href=tagGet(child).path) #{child}

    h2 Posts
    div.postList
      each post in tagGet(tag).posts
        div
          span.title
            a(href= post.path) #{post.title}
          if post.tags.length !== 0
            span.tagList
              each ptag, pidx in post.tags
                a(href=tagGet(ptag).path) #{tagGet(ptag).rootPath}

          div #{post.teaser}
